.App{
  justify-content: center;
  
}

h2{
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hover-header :hover{
  font-size: 25px;
  
}



.nightmare:hover{
  font-size: 20px;
  cursor: pointer;
}